@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&family=Roboto+Slab:wght@300;400;500&display=swap');
@media (max-width: 1000px) {
    .checkImg {
        position: absolute;
        top: 20%;
        left: 24%;
        z-index: 5;
        margin-right: 4rem;
        color: black;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Roboto Slab', serif;
    }
    .classForMedia {
        margin-bottom: 2.2rem;
    }
    .buttonsHeader {
        position: absolute;
        top: 47%;
        left: 24%;
        z-index: 5;
    }
    .whatAboutTour {
        position: absolute;
        top: 35%;
        left: 24%;
        z-index: 5;
        font-size: 1.2rem;
        font-family: 'Roboto Slab', serif;
    }
    #brandText {
        display: none;
    }
    #telegramText {
        display: none;
    }
    #instaText {
        display: none;
    }
    #faceText {
        display: none;
    }
    #vkText {
        display: none;
    }
    #loginButton {
        width: 150px;
        height: 60px;
        font-size: 15px;
        border: 3px solid #431BF7;
        border-radius: 12px;
        color: white;
        font-family: 'Rubik', sans-serif;
        background-color: transparent;
        margin-right: 1rem;
    }
    #brandPhoto {
        height: 64px !important;
        width: 113px !important;
        margin-bottom: 1.2rem;
    }
    .textInside {
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
        margin-right: 1.5rem;
    }
    .sendReq {
        width: 270px;
        height: 50px;
        background-color: transparent;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        border-radius: 12px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: red;
        border-color: red;
    }
    #useNumberPhone {
        display: none;
        width: 270px;
        height: 60px;
    }
    .inputNumber {
        width: 270;
        height: 45px;
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 1rem;
        font-size: 15px;
    }
    .photos {
        margin-top: 1rem;
        width: 99%;
        height: 85%;
    }
    .photoVeronica {
        margin-top: 1rem;
        width: 320px;
        height: 195 px;
    }
    .photos1 {
        margin-top: 1rem;
        width: 99%;
        height: 85%;
    }
    #carouselId {
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    #carPhoto {
        width: 100%;
        margin-bottom: 2rem;
    }
    .helloText {
        display: none;
        font-size: 16px;
        color: white;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    .connectionButton {
        height: 45px !important;
        width: 45px !important;
        border-radius: 50%;
        background-color: transparent;
        border: 0px solid transparent;
        margin-right: 2.5rem;
    }
    .connectionPhoto {
        height: 45px !important;
        width: 45px !important;
    }
    .connectionText {
        margin-right: 2rem;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    .phoneNumbers {
        font-size: 14px;
        font-family: 'Roboto Slab', serif;
        color: rgb(31, 122, 31);
    }
    #secondRowOfConnection {
        padding-left: 2rem;
    }
}

#dontWorks {
    display: none;
}

@media(min-width: 1001px) {
    .checkImg {
        font-size: 2.2rem;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        top: 30%;
        left: 37%;
        z-index: 5;
    }
    .buttonsHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        top: 48%;
        left: 37%;
        z-index: 5;
    }
    .whatAboutTour {
        position: absolute;
        top: 39.5%;
        left: 37%;
        z-index: 5;
        font-size: 1.75rem;
        font-family: 'Roboto Slab', serif;
    }
    .photos1 {
        height: 90%;
        width: 45%;
    }
    #carouselId {
        width: 60%;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .helloText {
        display: none;
        font-size: 22px;
        color: white;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    .carousel {
        width: 60%;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    #brandPhoto {
        width: 192px;
        height: 108px;
        margin-bottom: 2rem;
    }
    .textInside {
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
    }
    #brandText {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 24px;
        font-family: 'Roboto Slab', serif;
    }
    #loginButton {
        width: 300px;
        height: 45px;
        font-size: 20px;
        border: 3px solid #431BF7;
        border-radius: 12px;
        color: white;
        font-family: 'Rubik', sans-serif;
        background-color: transparent;
        margin-right: 1rem;
    }
    .sendReq {
        width: 30%;
        height: 50px;
        background-color: transparent;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        border-radius: 12px;
        margin: 1rem;
        color: red;
        border-color: red;
    }
    #useNumberPhone {
        display: none;
        width: 450px;
    }
    .inputNumber {
        margin-left: 1rem;
        width: 30%;
        height: 45px;
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 1rem;
        font-size: 18px;
    }
    #inputNumberText {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .photos {
        width: 451px;
        height: 400px;
    }
    #carPhoto {
        width: 70%;
    }
    .photoVeronica {
        width: 45%;
    }
    .connectionButton {
        height: 60px !important;
        width: 60px !important;
        border-radius: 50%;
        background-color: transparent;
        border: 0px solid transparent;
        margin-right: 2.5rem;
    }
    .connectionText {
        margin-right: 2rem;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
    }
    .phoneNumbers {
        font-size: 18px;
        font-family: 'Roboto Slab', serif;
        color: rgb(31, 122, 31);
    }
}

.navBarBrand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px !important;
}

#loginButton:hover {
    background-color: #431BF7;
    color: whitesmoke;
}

.connectionTextSecond {
    color: black;
    margin-right: 2rem;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

#registrationButton {
    width: 175px;
    height: 45px;
    font-size: 20px;
    border: 3px solid #185cc1;
    font-family: 'Rubik', sans-serif;
    border-radius: 12px;
    background-color: transparent;
    margin-right: 1rem;
}

#registrationButton:hover {
    background-color: #185cc1;
    color: whitesmoke;
}

#navBarMain {
    background-color: #000080;
    padding-top: 0px;
    padding-bottom: 0px;
}

#connectWithUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.connectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#connectWithUs {
    background-color: rgb(186, 182, 182, 0.4);
    padding-top: 40px;
    padding-bottom: 40px;
}

#AboutCourse {
    background-color: whitesmoke;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#connectWithUsSecond {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#howItGoing {
    background-color: rgb(186, 182, 182, 0.4);
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem
}

#whereItGoing {
    background-color: whitesmoke;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem
}

#transfer {
    background-color: rgb(186, 182, 182, 0.4);
    padding-left: 2rem;
    padding-top: 2rem;
}

body,
html {
    padding: 0px;
    margin: 0px;
}

#actions {
    background-color: whitesmoke;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem
}

.btn {
    width: 200px;
}

.lineForImg {
    border: 4px solid black;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}

#card {
    border: 8px double black;
    border-radius: 12px;
}

.sendReq:hover {
    background-color: red;
    color: white;
}

.check {
    overflow: hidden;
    width: 98.92vw;
    position: relative;
}

#photo1 {
    position: static;
    z-index: 2;
}

#buttonForBron {
    text-decoration: none;
    text-align: center;
    background: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}

#buttonForBron:hover {
    color: black;
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

.customButton {
    width: 12rem;
    height: 50px;
    color: #fff;
    cursor: pointer;
    margin-right: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-align: center;
    display: block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.image {
    transition-duration: .2s;
    transition-timing-function: linear;
    transition-delay: .3s;
    opacity: 0.75;
    max-width: 100%;
    animation: fade 5s linear infinite;
    animation-delay: 2.5s;
    object-fit: cover;
    height: 87.2vh;
    width: 100%;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.12
    }
    100% {
        opacity: 1
    }
}

#buttonAbout {
    background: rgb(22, 9, 240);
    background: linear-gradient(0deg, rgba(22, 9, 240, 1) 0%, rgba(49, 110, 244, 1) 100%);
    color: #fff;
    border: none;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    overflow: hidden;
}

#buttonAbout:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
}

#buttonAbout:hover {
    color: #fff;
    border: none;
    background: transparent;
}

#buttonAbout:hover:after {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(2, 126, 251, 1) 0%, rgba(0, 3, 255, 1)100%);
    -webkit-transform: scale(1);
    transform: scale(1);
}